Source: celluloid-fractal
Section: web
Priority: extra
Maintainer: Marcelo Pinheiro <salizzar@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/salizzar/celluloid-fractal

Package: celluloid-fractal
Architecture: amd64
Depends: nginx, logrotate, monit, libmagickcore5
Description: A simple POC using Rack, Puma and Celluloid to dynamically create fractals.

